# 1. Ir a: https://console.cloud.google.com/
# 2. Crear un proyecto nuevo
# 3. APIs & Services → Credentials → Create OAuth 2.0 Client ID
# 4. Authorized redirect URIs: http://localhost:3000/auth/google/callback

GOOGLE_CLIENT_ID=client_id_aqui.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=client_secret_aqui

# Cadena secreta para firmar las cookies de sesión
# node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
SESSION_SECRET=clave_secreta_muy_larga_y_segura_pro_max_ultra_mega

PORT=3000